.content {
  box-sizing: border-box;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px -5px 10px -5px rgba(0, 0, 0, 0.2); */
}
.input_area {
  border: none;
  outline: none;
  flex: 1;
  resize: none;
  padding: 10px;
  font-size: 13px;
  letter-spacing: 2px;
}
.input_area::placeholder {
  color: #999;
}
.but_area {
  align-self: flex-end;
  padding: 3px 10px 10px 0px;
}
.but {
  padding: 3px 20px;
  border: none;
  outline: none;
  background-color: #2ba245;
  color: white;
  border-radius: 3px;
}
.but:active {
  background-color: #1aad19;
}
