.content {
  width: 20px;
  height: 20px;
  background-image: url('../../image/pic_black.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.content:hover {
  background-image: url('../../image/pic_light.png');
  cursor: pointer;
}
.content > input {
  display: none;
}
