@import '../../style/common.css';

.content {
  padding-top: 20px;
}
.avatar {
  min-width: 35px;
  min-height: 35px;
  width: 35px;
  height: 35px;
  padding-top: 14px;
}
.avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.text_area {
  flex: 1;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}
.comment_area {
  font-size: 12px;
  color: #999;
  padding-bottom: 4px;
}
.nickname_text {
}
.date_text {
  margin-left: 10px;
}
