@import 'src/style/common.css';

.wrapper_content {
  position: relative;
  display: flex;
  box-sizing: border-box;
  border-top: solid 1px rgb(226, 226, 226);
  border-bottom: solid 1px rgb(226, 226, 226);
}
.list_block {
  flex: auto;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  box-sizing: border-box;
}
.list_block::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.scroll_bar_block {
  width: 8px;
  border-radius: 4px;
  overflow: hidden;
  transition: width 0.3s;
}
.scroll_thumb {
  display: block;
  width: 100%;
  background-color: #aaaaaa;
  border-radius: 4px;
}
