.content {
  display: flex;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.shadow_top {
  box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.2);
}
.shadow_bottom {
  box-shadow: inset 0px -5px 10px -5px rgba(0, 0, 0, 0.2);
}
.shadow_vertical {
  box-shadow: inset 0px 5px 10px -5px rgba(0, 0, 0, 0.2),
    inset 0px -5px 10px -5px rgba(0, 0, 0, 0.2);
}
.list_area {
  flex: 1;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  padding: 10px;
}
.list_area::-webkit-scrollbar {
  width: 0 !important;
}
.load_more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 100px;
  text-align: center;
  color: #999;
  background-color: #f1f1f1;
  font-size: 12px;
  margin: 0 auto;
  border: none;
  outline: none;
  border-radius: 10px;
}
.load_more:hover {
  cursor: pointer;
}
.list {
  width: 100%;
  height: 80px;
  background-color: rgb(145, 163, 145);
  border-bottom: solid 1px;
}
.scroll_bar_track {
  width: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.scroll_bar_track:hover {
  cursor: pointer;
  background-color: rgba(170, 170, 170, 0.3);
}
.scroll_bar_thumb {
  position: absolute;
  background-color: #aaaaaa;
  width: 100%;
  border-radius: 2.5px;
}
