.content {
  display: flex;
  align-items: center;
  padding: 10px 10px 5px;
}
.avator {
  width: 40px;
  height: 40px;
  background-color: aqua;
  border-radius: 50%;
  overflow: hidden;
}
.desc_area {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.nickname {
  font-size: 14px;
  color: #333;
}
.sologan {
  font-size: 12px;
  color: #999;
}
