.content {
  display: flex;
  padding-top: 20px;
}
.avator {
  min-width: 25px;
  width: 25px;
  padding-top: 14px;
}
.avator > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.text_area {
  flex: 1;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
}
.comment_area {
  font-size: 12px;
  color: #999;
}
