.text_content {
  background-color: #91ed61;
  color: #333;
  padding: 8px;
  border-radius: 3px;
  max-width: 60%;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 13px;
  letter-spacing: 2px;
}
.arrow {
  position: relative;
}
.arrow::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #91ed61;
  transform: rotate(45deg);
  top: 8px;
}
.arrow_left::after {
  left: -4px;
}
.arrow_right::after {
  right: -4px;
}
.img_content {
  display: block;
  width: auto;
  max-width: 400px;
  height: 150px;
}
