.content {
  display: flex;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}
.scroll_bar_track {
  width: 5px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
  background-color: white;
}
.scroll_bar_thumb {
  position: absolute;
  background-color: #aaaaaa;
  width: 100%;
  border-radius: 2.5px;
}
