.content {
  max-width: 280px;
  min-width: 230px;
  border-radius: 5px;
  overflow: hidden;
  background-color: azure;
  display: flex;
}
.list_area {
  background-color: white;
  flex: 1;
  overflow: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.list_area::-webkit-scrollbar {
  width: 0 !important;
}
.scroll_bar_track {
  width: 3px;
  position: relative;
}
.scroll_bar_thumb {
  position: absolute;
  background-color: #aaaaaa;
  width: 100%;
  border-radius: 1px;
}
